on:
  workflow_dispatch:


jobs:
  example:
    runs-on: ubuntu-latest
    steps:
      - run: |
          if [[ -f "config.yaml" ]]; then
          echo "::debug::config.yaml is exists"
          else
          echo "::error::config.yaml is not exists"
          fi
